python-telegram-bot==13.7
urllib3==1.26.15
beautifulsoup4==4.12.2
requests==2.32.4
python-dotenv==1.0.0
gspread==5.12.0
oauth2client==4.1.3
playwright==1.40.0
cloudscraper 
fake-useragent
mcp
langchain_mcp_adapters
langgraph>=0.0.10
langchain-openai
aiohttp